<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Dice!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/dice.css" type="text/css" media="all" />
</head>
<body>
<div id="jb-container">
    <div id="jb-header">
        <h1>Dice!</h1>
    </div>

    <div id="jb-sidebar">
        <input type="button" id="dice_btn" value="Dice" class="butt js--triggerAnimation"/>
        <span id="animationSandbox" style="display: block;" class=""><h1 class="site__title mega" id="result">Who is?</h1></span>
    </div>

    <div id="jb-content">

        <h2>Member Select!</h2>
        {{ range .member_list}}
        <label class="switch">
            <p>{{.User_nm}}</p>
            <input type="checkbox" name="selected_member" value="{{.User_nm}}">
            <div style="float: left;" class="slider round"></div>
        </label>
        {{ end }}

    </div>

    <div id="jb-footer">
        <p class="copyright">Made by soong</p>
    </div>



</div>


<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">
    var clear;
    var member_arr = new Array();
    var cnt = 5;

    $(document).ready(function(){


        $("#dice_btn").click(function() {

            $("input[name=selected_member]:checked").each(function() {
                member_arr.push($(this).val());
            });

            if(member_arr.length == 0){
                alert("참가할 멤버를 선택해주세요.");
                return;
            }else{

                clear = setInterval("count()", 1000);
                cnt = 5;

            }

        });

    });

    function count(){

        $("#result").html(cnt);
        cnt--;

        if(cnt < 0){
            clearInterval(clear);

            var ranNum = Math.floor(Math.random() * member_arr.length);
            $("#result").html(member_arr[ranNum]);
            testAnim("zoomInDown");

            member_arr = new Array();
        }
    }

    function testAnim(x) {
        $('#animationSandbox').removeClass().addClass(x + ' animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
            $(this).removeClass();
        });
    };

</script>

</body>
</html>
